<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj projekt</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <div class="logo"><a href="index.html">Dziennik</a></div>
        <nav>
            <ul>
                <li><a href="student.html">Student</a></li>
                <li><a href="zadanie.html">Zadanie</a></li>
                <li><a href="projekt.html">Projekt</a></li>
                <li><a href="/logout" class="btn-light">Wyloguj</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h1>Dodaj nowy projekt</h1>
        <div class="form-container">
            <form id="addForm">
                <label>Nazwa projektu:</label>
                <input type="text" id="nazwa" required>
                <label>Opis:</label>
                <textarea id="opis" rows="4" required></textarea>
                <label>Data oddania:</label>
                <input type="date" id="dataOddania" required>
                <button type="submit" class="btn-green">Dodaj projekt</button>
                <a href="projekt.html" class="btn-light" style="margin-left:10px;">Anuluj</a>
            </form>
        </div>
    </section>
    <script src="../static/js/script.js"></script>
</body>
</html>