<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Studenta</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <div class="logo"><a th:href="${isAuthenticated} ? '/projektList' : '/index'">Dziennik</a></div>
    <nav>
        <ul>
            <li th:if="${!selfEdit}">
                <a th:href="${isAdmin} ? '/studentList' : '/studentProfile'">Student</a>
            </li>
            <li><a href="/zadanieList">Zadanie</a></li>
            <li><a href="/projektList">Projekt</a></li>
        </ul>
    </nav>
</header>

<section>
    <h1>
        <span th:if="${selfEdit}">Edytuj swoje dane</span>
        <span th:if="${!selfEdit and isAdmin and student.studentId != null}">Edytuj dane studenta</span>
        <span th:if="${!selfEdit and (student.studentId == null)}">Dodaj nowego studenta</span>
    </h1>

    <div class="form-container">
        <form th:action="@{${formAction}}" th:object="${student}" method="post">
            <input type="hidden" th:field="*{studentId}">

            <label>Imię:</label>
            <input type="text" th:field="*{imie}" placeholder="Jan" required>

            <label>Nazwisko:</label>
            <input type="text" th:field="*{nazwisko}" placeholder="Kowalski" required>

            <label>Numer indeksu:</label>
            <input type="text" th:field="*{nrIndeksu}" placeholder="12345" required>

            <label>E-mail:</label>
            <input type="email" th:field="*{email}" placeholder="student@pbs.edu.pl" required>

            <label>Forma studiów:</label>
            <select th:field="*{stacjonarny}" style="width: 100%; padding: 10px; border-radius: 8px; border: 1px solid #ddd; margin-bottom: 15px;">
                <option th:value="true">Stacjonarne</option>
                <option th:value="false">Niestacjonarne</option>
            </select>

            <div th:if="${!selfEdit}">
                <label>Przypisz projekty (opcjonalnie):</label>
                <select th:field="*{projektIds}" multiple="multiple"
                        style="width: 100%; height: 150px; padding: 10px; border-radius: 8px; border: 1px solid #ddd; margin-bottom: 15px; background-color: white;">
                    <option th:each="projekt : ${listaProjektow}"
                            th:value="${projekt.projektId}"
                            th:text="${projekt.nazwa}">
                    </option>
                </select>
            </div>

            <label th:text="${selfEdit ? 'Nowe hasło (opcjonalnie):' : 'Hasło (Opcjonalne, domyślnie 123):'}"></label>
            <input type="text" th:field="*{password}" placeholder="Pozostaw puste jeśli bez zmian">

            <button type="submit" class="btn-green">Zapisz</button>
            <a th:href="${selfEdit} ? '/projektList' : '/studentList'" class="btn-light">Anuluj</a>
        </form>
    </div>
</section>
</body>
</html>
