<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edycja Zadania</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <div class="logo"><a href="/index">Dziennik</a></div>
    <nav>
        <ul>
            <li><a th:href="${isAdmin} ? '/studentList' : '/studentProfile'">Student</a></li>
            <li><a href="/zadanieList">Zadanie</a></li>
            <li><a href="/projektList">Projekt</a></li>
        </ul>
    </nav>
</header>

<section>
    <h1>Zadanie</h1>
    <div class="form-container">
        <form th:action="@{/zadanieSave}" th:object="${zadanie}" method="post">
            <input type="hidden" th:field="*{zadanieId}">

            <label>Nazwa zadania:</label>
            <input type="text" th:field="*{nazwa}" required>

            <label>Opis:</label>
            <textarea th:field="*{opis}" rows="3" required></textarea>

            <label>Kolejność:</label>
            <input type="number" th:field="*{kolejnosc}" required>

            <label>Projekt:</label>
            <select th:field="*{projekt.projektId}"
                    style="width:100%; padding:10px; border-radius:8px; border:1px solid #ddd; margin-bottom:20px; background-color: white;">
                <option th:each="projekt : ${listaProjektow}"
                        th:value="${projekt.projektId}"
                        th:text="${projekt.nazwa}">
                </option>
            </select>

            <button type="submit" class="btn-green">Zapisz</button>
            <a href="/zadanieList" class="btn-light">Anuluj</a>
        </form>
    </div>
</section>
</body>
</html>
